In [1]:
import numpy as np
import pandas as pd

In [43]:
df = pd.read_csv('automobile_data.csv')
df.head(2)

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
0,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,13495
1,3,?,alfa-romero,gas,std,two,convertible,rwd,front,88.6,...,130,mpfi,3.47,2.68,9.0,111,5000,21,27,16500

In [44]:
df.columns

Index(['symboling', 'normalized-losses', 'make', 'fuel-type', 'aspiration',
       'num-of-doors', 'body-style', 'drive-wheels', 'engine-location',
       'wheel-base', 'length', 'width', 'height', 'curb-weight', 'engine-type',
       'num-of-cylinders', 'engine-size', 'fuel-system', 'bore', 'stroke',
       'compression-ratio', 'horsepower', 'peak-rpm', 'city-mpg',
       'highway-mpg', 'price'],
      dtype='object')

In [45]:
df['horsepower']

0      111
1      111
2      154
3      102
4      115
      ...
200    114
201    160
202    134
203    106
204    114
Name: horsepower, Length: 205, dtype: object

In [46]:
df['price']

0      13495
1      16500
2      16500
3      13950
4      17450
       ...
200    16845
201    19045
202    21485
203    22470
204    22625
Name: price, Length: 205, dtype: object

In [50]:
#df.loc[(df['horsepower'] == '?')] = 0
#df.loc[(df['price'] == '?')] = 0
df = df.drop(df[df.horsepower  == '?'].index)
df = df.drop(df[df.price  == '?'].index)

In [51]:
X = df['horsepower'].values.astype(int)
Y = df['price'].values.astype(int)

In [52]:
media_x = np.mean(X)
media_y = np.mean(Y)

n = len(X)

numer = 0
denom = 0

for i in range(n):
    numer += (X[i] - media_x) * (Y[i] - media_y)
    denom += (X[i] - media_x) ** 2

b = numer / denom
a = media_y - (b * media_x)

print(a, b)

-4562.17499566747 172.2062511731059

In [54]:
#teste
y = (a + (b * 200))
print("Carro com potência de 200 HP custa:", y)

Carro com potência de 200 HP custa: 29879.07523895371

In [42]:
#validação
df.loc[(df['horsepower'] == '200')]

,symboling,normalized-losses,make,fuel-type,aspiration,num-of-doors,body-style,drive-wheels,engine-location,wheel-base,...,engine-size,fuel-system,bore,stroke,compression-ratio,horsepower,peak-rpm,city-mpg,highway-mpg,price
105,3,194,nissan,gas,turbo,two,hatchback,rwd,front,91.3,...,181,mpfi,3.43,3.27,7.8,200,5200,17,23,19699